@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    font-family: 'RocknRoll One', sans-serif;
}

h1 {
    font-family: 'Indie Flower', sans-serif;
}
body {
    background-color: #c4a7e7;
    margin: auto;
    text-align: center;
    width: 100%;
}